 
/* 
Hints:
    body gray border - 20px #bdc3c7
    date color #3490db
    h2 color #2c3e50
    font source sans pro 
    block quote w/ left border 
    text alignment on left
    date in all caps 
    date letter spacing 
    hr dividing line between posts  
*/

body {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 20px solid #bdc3c7;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

div p:first-of-type {
    color: #3490db;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.title {
    color: #2c3e50;
}

.block_quote {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}